* {
	margin:0;
	padding:0;
}

body {
	background: lightgray;
	display: flex;
	flex-wrap: wrap;
	height:100vh;
	justify-content: space-around;
	align-items: center;
}

.photo {
	margin: 10 px 0;
	width: 320px;
	background: white;
	padding: 10px;
	opacity: 0.8;
	border-radius: 5px;
	border: 1px solid silver;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.photo:nth-child(2) {
	align-self: center;
	order: 3;
	transform: rotate(2deg);
}

.photo:nth-child(1) {
	align-self: center;
	transform: rotate(-2deg);
}

.photo img {
	flex-basis: 100%;
	width: 300px;
}

.photo figcaption {
	 margin-top: 10px;
}

.photo:hover {
	opacity: 1;
	transition: .5s all linear;
	transform: scale(1.1);
}