body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100vh;
	display: flex;
	justify-content:center;
	align-items:center;
	background-color: #a6a6a6;
	flex-wrap: wrap;
}

h1 {
	color: #ffffff;
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cube-container {
	width: 200px;
	height: 200px;
	background-color: transparent;
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 1000px;
	position: relative;
}

.cube {
	width: 200px;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: .5s transform linear;
}

.cube > div {
	position: absolute;
	width: 200px;
	height: 200px;
	border: 20px solid black;
	box-sizing: border-box;
	box-shadow: 1px 2px 5px 1px #696f9f inset;
	color: #5a5f8c;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
}

.cube .front {
	transform: rotateX(0deg) translateZ(100px);
	border-color: #ff99ff;
	background-color: #ffb3ff;
}

.cube .back {
	transform: rotateX(180deg) translateZ(100px);
	border-color: #85a3e0;
	background-color: #99b3e6;
}

.cube .right {
	transform: rotateY(90deg) translateZ(100px);
	border-color: #a3c2c2;
	background-color: #b3cccc;
}

.cube .left {
	transform: rotateY(-90deg) translateZ(100px);
	border-color: #df9f9f;
	background-color: #e6b3b3;
}

.cube .top {
	transform: rotateX(-90deg) translateZ(100px);
	border-color: #ccccb3;
	background-color: #d6d6c2;
}

.cube .bottom {
	transform: rotateX(90deg) translateZ(100px);
	border-color: #b3e6cc;
	background-color: #c6ecd9;
}

.cube .show-front {
	transform: rotateX(0deg);
}

.show-back {
	transform: rotateX(-180deg);
}

.show-right {
	transform: rotateY(-90deg);
}

.show-left {
	transform: rotateY(90deg);
}

.show-top {
	transform: rotateX(90deg);
}

.show-bottom {
	transform: rotateX(-90deg);
}

.container {
	background-color: #ffffff;
	width: 200px;
	height: 30px;
	padding: 20px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
}

.container input {
	position: absolute;
	left: -99999px;
}

label {
	width: 40px;
	height: 40px;
	padding: 5px;
	color: transparent;
}

label::before {
	content: '★';
	color: #a6a6a6;
	font-size: 40px;
	line-height: 40px;
}

label:hover::before,
label:hover~label::before,
.container input:checked~label::before {
	color: #ffa500;
}